[variables]
    PHP_VERSION = '8.4'
    NIXPACKS_PHP_VERSION = '8.4'

[phases.setup]
    nixPkgs = ['...', 'php84', 'php84Packages.composer', 'php84Packages.intl', 'php84Packages.bcmath', 'php84Packages.zip', 'php84Packages.sqlite3']
