[variables]
    PHP_VERSION = '8.4'
    NIXPACKS_PHP_VERSION = '8.4'

[phases.setup]
    # '...' tells Nixpacks to include the default packages it already detected
    # We add php84 and its specific extensions manually
    nixPkgs = [
        '...', 
        'php84', 
        'php84Packages.composer', 
        'php84Packages.intl', 
        'php84Packages.bcmath', 
        'php84Packages.zip', 
        'php84Packages.sqlite3',
        'php84Packages.pgsql'  # Mandatory for Supabase!
    ]
